<div class="card">
  <div class="clr-row">
    <div class="clr-col-4">
      <div class="card-image">
        <img src="{{imgSrc}}">
      </div>
    </div>
    <div class="clr-col-8">
      <div class="clr-row">
        <div class="clr-col-10">
          <h3>{{cardHeader}}</h3>
        </div>
        <div class="clr-col-2">
          <clr-icon shape="angle"></clr-icon>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-12">
          <p [style.color]="subTextColor">{{subText}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
