.main-container {
  app-vert-nav {
    width: 2.5em;
  }
  .content-container {
    .content-area {
      padding: 0 5px;
      .clr-row {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 1em;
      }
    }
  }
}
