@font-face {
  font-family: inter-black;
  src: url(assets/fonts/Inter/Inter-Black.ttf) format("opentype");
}

@font-face {
  font-family: inter-bold;
  src: url(assets/fonts/Inter/Inter-Bold.ttf) format("opentype");
}

@font-face {
  font-family: inter-light;
  src: url(assets/fonts/Inter/Inter-Light.ttf) format("opentype");
}

@font-face {
  font-family: inter-thin;
  src: url(assets/fonts/Inter/Inter-Thin.ttf) format("opentype");
}

@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter/Inter-Regular.ttf) format("opentype");
}
